[Unit]
Description=ASKAP/MWA FRB UDP to buffer and all-sky VCS trigger
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/askap-mwa-frb-trigger
EnvironmentFile=-/etc/askap-mwa-trigger.env
ExecStart=/home/ubuntu/craco-python/venv/bin/python3 /home/ubuntu/askap-mwa-frb-trigger/udp_to_triggerbuffer.py \
    224.1.1.1:4900 \
    --past-seconds 120 \
    --obstime 600 \
    --min-sn 20 \
    --min-dm 0 \
    --burst-window 1 \
    --burst-max-count 10 \
    -v

Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
