[Unit]
Description=ASKAP/MWA FRB UDP to TriggerBuffer
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/askap-mwa-frb-trigger
Environment=TRIGGER_SECURE_KEY=test_key_here
ExecStart=/home/ubuntu/craco-python/venv/bin/python3 /home/ubuntu/askap-mwa-frb-trigger/udp_to_triggerbuffer.py \
    224.1.1.1:4900 \
    --endpoint http://trigger.liwang.link/trigger \
    --debug-url http://trigger.liwang.link/debug \
    --past-seconds 120 \
    --obstime 600 \
    -v

Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
